body { 
	background-color: #fff; color: #333; 
	margin: 0;
	padding:0;
}

body, p, ol, ul, td {
  font-family: Microsoft Sans Serif;
  font-size: 1em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.invisible{
  display: none;
}

a { color: #000; }
.admin a:visited { color: #666; }
.admin a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.reset_float {
  clear: both;
}

.single_line_container > * {
  float: left;
}

.header, #tabs {
  background-color: #fff;
}

.notice{
	background-color: #B3EC7A;
	display: inline-block;
}

.login_form{
	width: 350px;
}

.new_photo_form{
	width: 700px;
}

#new_site{
	width: 700px;
}

.public_sites{
  text-align: center;
}

.public_sites .public_site{
	display: inline-block;
	margin-top: 1 em;
	margin-bottom: 2em;
	margin-right: 4em;
	text-align: left;
}

.public_sites .public_site a{
  display: block;
  font-size: 1.5em
}

.public_sites .public_site div{
  font-size: 1.2em
}

.public_sites .public_site .site_main_photo{
  margin-top: 0.8em;
}

.site_gallery {
	width: 60%;
	height: 420px;
	margin: 2em 2em 1em 1em;
}

.site_gallery img {
	border: 2px solid #52697E;
}

a.loading {
	background: #fff url(images/ajax_small.gif) no-repeat center;
}
/***************************public design****************************************/
.logo {
	background-image: url(/images/logo-new-year.png);
/*  background-image: url(/images/logo.png);*/
	width: 290px;
	height: 165px;
	margin: 30px 50px;
	margin-bottom: 10px;
}

.slogan {
	background-image: url(/images/cubes.png);
	width: 734px;
	height: 102px;
	float: right;
}

.slogan .text{
	width: 300px;
	font-size: 25px;
	font-weight: bold;
	margin-top: 2em;
	line-height: 34px;
}

.slogan .text img{
	margin-left: 13em;
	margin-top: 1ex;
}


body{
	min-width: 1124px;
	font-family: Microsoft Sans Serif;
}

.footer{
  margin-top: 30px;
	text-align: center;
}

#tabs{
	padding-top: 1em;
	font-family: Microsoft Sans Serif;
}

/*********************singlre site*****************************/

.single_site .breadcrumbs{
  font-size: 1.5em;
}

.single_site .breadcrumbs a{
  text-decoration: none;
}

.single_site #description{
  font-size: 1.2em;
}

/************************************************tabs*/
.ui-widget-content{
	background: none;
	border: 0;
}

.ui-tabs{
	padding: 0;
}

.ui-widget-header{
	background: none;
	border: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background: none;
}

.ui-corner-top {
	-moz-border-radius-topleft: 40px;
	-moz-border-radius-topright: 40px;
}

.ui-tabs .ui-tabs-nav {
	padding-left: 11em;
}

.ui-tabs-nav{
	font-size: 1.7em;
	color: #000;
}

#tabs .ui-state-default, 
#tabs .ui-widget-content .ui-state-default, 
#tabs .ui-widget-header .ui-state-default{
  border: none;
	background-color: white;
}

#tabs a{
  color: #000;
}

#tabs .ui-widget-header .my_sites,
#my_sites{
	background-color: #D0E7FF;
}

#tabs .ui-widget-header .prices, #prices{
	background-color: #F3D3FA;
}

#tabs .ui-widget-header .contacts, #contacts{
	background-color: #CDFED3;
}

.ui-tabs .ui-tabs-nav li a {
  padding: 0.1em 1.5em;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #50187C;
}
  
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #890981;
}  

.ui-widget-content{
  color: #000;
}

#tabs .my_sites, #tabs .prices, #tabs .contacts{
  font-weight: normal;
}

/************************contacts**************************/
#contacts .phone{
  background: url(/images/phone.png) no-repeat;
  height: 95px;
  font-size: 1.5em;
  padding-left: 90px;
  padding-top: 29px;
}

#contacts .email{
  background: url(/images/email.png) no-repeat;
  height: 67px;
  font-size: 1.5em;
  padding-left: 90px;
  padding-top: 21px;
}
