body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
.admin a:visited { color: #666; }
.admin a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.reset_float {
  clear: both;
}

.single_line_container > * {
  float: left;
}

.notice{
	background-color: #B3EC7A;
	display: inline-block;
}

.login_form{
	width: 350px;
}

.new_photo_form{
	width: 700px;
}

#new_site{
	width: 700px;
}

.public_sites .public_site{
	display: inline-block;
	margin: 10px;
}

.public_sites .public_site a{
	display: block;
}

.site_gallery {
	width: 60%;
	height: 420px;
}

.site_gallery img {
	border: 2px solid #52697E;
}

a.loading {
	background: #fff url(images/ajax_small.gif) no-repeat center;
}