body { 
	color: #333; 
	margin: 0;
	padding:0;
  background: url(/images/top_shadow.png) top repeat-x;
  font-family: Microsoft Sans Serif;
}

body, p, ol, ul, td {
  font-size: 1em;
}

h2{
  color: #50852C;
}

.clear{
  clear: both;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.invisible{
  display: none;
}

a { 
  color: #000; 
  outline: none;
}

.admin a:visited { color: #666; }
.admin a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.reset_float {
  clear: both;
}

.single_line_container > * {
  float: left;
}


.notice{
	background-color: #B3EC7A;
	display: inline-block;
}

.login_form{
	width: 350px;
}

.new_photo_form{
	width: 700px;
}

#new_site{
	width: 700px;
}

.public_sites .public_site{
	display: inline-block;
	margin-top: 1 em;
	margin-bottom: 2em;
	margin-right: 4em;
	text-align: left;
}

.public_sites .public_site a{
  display: block;
  font-size: 1.3em;
  text-decoration: none;
}

.public_sites .public_site a:hover{
  text-decoration: underline;
}

.public_sites .public_site .site_main_photo{
  margin-top: 0.8em;
}

.public_sites .public_site .site_main_photo img{
  border: none;
  
}

.public_sites .public_site .site_main_photo:hover img{
  outline: 1px solid #4B4B4B;
}

.site_gallery {
	width: 60%;
	height: 420px;
	margin: 0 2em 1em 1em;
}

.site_gallery img {
	border: 1px solid #52697E;
}

a.loading {
	background: #fff url(images/ajax_small.gif) no-repeat center;
}
/***************************public design****************************************/
.public_content{
  min-width: 924px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  
}

.header {
  border-bottom: 3px solid #E0E0E0;
  padding-bottom: 20px;
}

.header .logo_wrapper{
  margin-top: 45px;
}

.header .top_menu{
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: bottom;
  margin-left: 8%;
}

.header .top_menu .menu_item{
  display: inline-block;
  zoom: 1;
  *display: inline;
  border-left: 2px solid #EEF0F2;
}

.header .top_menu .menu_item:first-child{
  border: none;
}

.header .top_menu .menu_item a{
  text-decoration: none;
  font-size: 1.5em;
  color: #4B4B4B;
  margin-right: 15px;
  margin-left: 15px;
  padding-bottom: 20px;
}

.header .top_menu .menu_item a:hover{
  color: #333;
  border-bottom: 3px solid #333;
}

.header .top_menu .current a,
.header .top_menu .current a:hover{
  color: #0067B1;
  border-bottom: 3px solid #0067B1;
}

.logo {
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
  color: #00A1FF;
}

.header > div{
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}

.header .contacts{
  margin-top: 10px;
  float:right;
/*  font-weight: bold;*/
}

.header .contacts .phone{
  background: url(/images/phone.png) no-repeat;
  height: 35px;
  padding-top: 10px;
  padding-left: 53px;
}

.header .contacts .email{
  background: url(/images/email.png) no-repeat;
  height: 47px;
  padding-top: 10px;
  padding-left: 56px;
}

.footer{
  margin-top: 30px;
  margin-bottom: 10px;
	text-align: center;
}

#tabs{
	padding-top: 1em;
	font-family: Microsoft Sans Serif;
}

/*********************singlre site*****************************/

.single_site .breadcrumbs{
  font-size: 1.5em;
}

.single_site .breadcrumbs a{
  text-decoration: none;
}

.single_site #description{
  font-size: 1.2em;
}

/************************************************tabs*/
.ui-widget-content{
	background: none;
	border: 0;
}

.ui-tabs{
	padding: 0;
}

.ui-widget-header{
	background: none;
	border: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background: none;
}

.ui-corner-top {
	-moz-border-radius-topleft: 40px;
	-moz-border-radius-topright: 40px;
}

.ui-tabs .ui-tabs-nav {
	padding-left: 11em;
}

.ui-tabs-nav{
	font-size: 1.7em;
	color: #000;
}

#tabs .ui-state-default, 
#tabs .ui-widget-content .ui-state-default, 
#tabs .ui-widget-header .ui-state-default{
  border: none;
	background-color: white;
}

#tabs a{
  color: #000;
}

#tabs .ui-widget-header .my_sites,
#my_sites{
	background-color: #D0E7FF;
}

#tabs .ui-widget-header .prices, #prices{
	background-color: #F3D3FA;
}

#tabs .ui-widget-header .contacts, #contacts{
	background-color: #CDFED3;
}

.ui-tabs .ui-tabs-nav li a {
  padding: 0.1em 1.5em;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #50187C;
}
  
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #890981;
}  

.ui-widget-content{
  color: #000;
}

#tabs .my_sites, #tabs .prices, #tabs .contacts{
  font-weight: normal;
}

