<div id="tabs">
    <ul>
        <li><a href="#my_sites"><span>Мои работы</span></a></li>
        <li><a href="#prices"><span>Услуги и цены</span></a></li>
        <li><a href="#contacts"><span>Контакты</span></a></li>
    </ul>
    <div id="my_sites">
			<%= render :partial => 'my_sites' %>
    </div>
    <div id="prices">
			Услуги и цены
    </div>
    <div id="contacts">
			Контакты
    </div>
</div>
