<div class='public_sites'>
	<% @sites.each do |site| %>
		<div class='public_site'>
			<%= link_to site.url, url_with_http(site.url), :popup => true %>
			<%= content_tag :div, site.title %>
			<%= link_to image_tag(site.photos.first.avatar(:medium)), site_path(site), :class => 'site_main_photo' %>
		</div>
	<% end -%>
</div>