<p>
Мы поможем Вам воплотить любую вашу задумку.  Мы беремся за работы любой сложности начиная от сайта – визитки, форумов, порталов и заканчивая долгосрочными проектами. 
</p>

<ul>
  <b>Что мы предлагаем:</b>
  <li>создание уникального дизайна и разработка сайта;</li>
  <li>регистрация доменного имени;</li>
  <li>подбор хостинга;</li>
  <li>настройка почтового ящика;</li>
  <li>оснащение сайта форумами, блогами, чатами, галереями и т.д. </li>
</ul>

<p><b>Минимальные тарифы и что они включают в себя:</b></p>

<div>
  <b>Сайт-визитка</b>  от 600 грн
  <div>Включает в себя дизайн и до 3-х страниц статической информации.</div>
</div>

<br/>
<div><b>Интернет магазин</b> от 4 000 грн<div>
<div>
Включает в себя дизайн самого магазина, систему заказа товара онлайн, админскую часть – возможность самостоятельно управлять магазином (добавлять, редактировать и удалять товары, фотографии товаров, категории  и подкатегории товаров, описание товаров). Настройка автоматических уведомлений на почту покупателя и продавца об осуществлении заказа товара. Регистрация доменного имени и помощь в подборе хостинга.
</div>

<p>
  По всем интересующим Вас вопросам  звоните нам по телефону 050-66-82-394 или пишите на почту info@rostovsky.com.ua
</p>
