<% inside_layout 'application' do -%>
	<% single_line_container do %>
		<%= content_tag :div, '', :class => 'logo' %>
		<% content_tag :div, :class => 'slogan' do %>
			<% content_tag :div, :class => 'text'  do %>
				<%= content_tag :div, "Создай&nbsp;свой&nbsp;мир&nbsp;- просто&nbsp;чуточку&nbsp;побудь&nbsp;богом..." %>
				<%= image_tag 'signature.png' %>
			<% end -%>
			 
		<% end -%>
	<% end -%>
	
	<div id="tabs">
	    <ul>
	        <li><a href="#my_sites"><span>Мои работы</span></a></li>
	        <li><a href="#prices"><span>Услуги и цены</span></a></li>
	        <li><a href="#contacts"><span>Контакты</span></a></li>
	    </ul>
	    <div id="my_sites">
		   <%= yield %>
	    </div>
	    <div id="prices">
				Услуги и цены
	    </div>
	    <div id="contacts">
				Контакты
	    </div>
	</div>

<% end -%>
